/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #5f5f5f;
  }
  
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  nav ul li {
    margin: 0 0.5em;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #414dcc;
  }
  
  header {
    background-color: #414dcc;
    padding: 2em;
    text-align: center;
    color: #fff;
  }
  
  header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  main {
    margin: 2em;
  }
  
  main section {
   
  